Repository naneun/CherryBnB, pull requests merged in 2022-06, with the labels that each got.

#37 [iOS] 리팩토링으로 구조 개선하기
  iOS/Targets/Cherrybnb/Sources/Common/Font+Extension.swift
  iOS/Targets/Cherrybnb/Sources/Common/Hour.swift
  iOS/Targets/Cherrybnb/Sources/Common/TimeFormatter.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/CalendarPickerViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/SearchDateViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Model/CalendarPicker.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Model/Month.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/RecommendationDataSource.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/SearchLocationDataSource.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/SearchLocationViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Model/HTTPService.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/View/LocationCell.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/View/PlaceCell.swift
  iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
Labels: iOS 

#40 [iOS] 검색 결과 리스트에서 선택한 지역이 하나가 될 때까지 다시 선택할 수 있음.
  iOS/Targets/Cherrybnb/Sources/Common/PlaceFactory.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/SearchDateViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/DetailSearchDataSource.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/DetailSearchDelegate.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/RecommandDelegate.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/RecommendationDataSource.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/SearchLocationViewController.swift
Labels: enhancement, iOS 

#42 [iOS] 날짜를 탭하면 선택한 날짜 범위가 달력에 표시됨
  iOS/Targets/Cherrybnb/Sources/Common/TimeFormatter.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/CalendarPickerViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/SearchDateViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Model/CalendarPicker.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Model/Month.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/View/CalendarPickerViewCell.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/RecommendationDataSource.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/SearchLocationDataSource.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/SearchLocationViewController.swift
  iOS/Targets/Cherrybnb/Sources/Support/AppDelegate.swift
  iOS/Targets/Cherrybnb/Tests/CalendarPickerSpec.swift
  iOS/Targets/Cherrybnb/Tests/SearchSpec.swift
Labels: enhancement, iOS 

#43 [iOS] 검색 창에 단어를 입력한 상태에서 지우기 버튼을 누르면 단어를 초기화 할 수 있음
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/DetailSearchDelegate.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/RecommendationDataSource.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/SearchLocationViewController.swift
Labels: iOS 

#47 [iOS] CalendarPicker 마무리 작업 + CalendarPicker를 선택하면 하단에서 날짜를 볼 수 있음
  iOS/Targets/Cherrybnb/Sources/Common/Calendar+Extension.swift
  iOS/Targets/Cherrybnb/Sources/Common/PlaceFactory.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/CalendarPickerViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/QueryParameter.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/SearchDateViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Model/CalendarFactory.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Model/CalendarPicker.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Model/Month+Day.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Model/Month.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/View/CalendarPickerViewCell.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/View/CalendarPickerViewSectionHeader.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/View/QueryParameterStackView.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/DetailSearchDataSource.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/DetailSearchDelegate.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/RecommendationDataSource.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Controller/SearchLocationViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Model/RecommandDelegate.swift
Labels: enhancement, iOS 

#49 [iOS] 하단 툴바의 '건너뛰기' '지우기' '다음' 버튼을 사용할 수 있음
  iOS/Targets/Cherrybnb/Sources/Common/QueryParameter.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/CalendarPickerViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/SearchDateViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Model/CalendarPicker.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/View/CalendarPickerViewCell.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/View/CalendarPickerViewSectionHeader.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/View/QueryParameterStackView.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/View/SearchNavigationToolbar.swift
Labels: enhancement, iOS 

#50 [iOS] PriceSettingVC 에서 숙소 가격을 요청하면 dummy 데이터를 View에 보여줄 수 있음.
  iOS/Targets/Cherrybnb/Sources/Common/Font+Extension.swift
  iOS/Targets/Cherrybnb/Sources/Network/HTTPSearchService.swift
  iOS/Targets/Cherrybnb/Sources/Network/SearchManager.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/SearchDateViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Model/DefaultRecommendator.swift
  iOS/Targets/Cherrybnb/Sources/Search_Location/Model/HTTPRecommandService.swift
  iOS/Targets/Cherrybnb/Sources/Search_Price/Model/PriceHistogram.swift
  iOS/Targets/Cherrybnb/Sources/Search_Price/View/PriceSettingView.swift
  iOS/Targets/Cherrybnb/Sources/Search_Price/ViewController/PriceSettingViewController.swift
Labels: enhancement, iOS 

#54 [iOS] Slider 를 움직이면 하단 QueryParameter 스택뷰에 선택한 가격 범위를 반영할 수 있음.
  iOS/Podfile
  iOS/Podfile.lock
  iOS/Targets/Cherrybnb/Sources/Common/QueryParameter.swift
  iOS/Targets/Cherrybnb/Sources/Network/SearchManager.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/Controller/SearchDateViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search_Date/View/QueryParameterStackView.swift
  iOS/Targets/Cherrybnb/Sources/Search_Price/Model/PriceHistogram.swift
  iOS/Targets/Cherrybnb/Sources/Search_Price/View/PriceSettingView.swift
  iOS/Targets/Cherrybnb/Sources/Search_Price/ViewController/PriceSettingViewController.swift
Labels: enhancement, iOS 

#53 [BE] 숙소 상세 검색 및 좌표 변환 기능 구현
  backend/build.gradle
  backend/src/main/java/com/team14/cherrybnb/auth/application/GithubTokenService.java
  backend/src/main/java/com/team14/cherrybnb/auth/domain/Member.java
  backend/src/main/java/com/team14/cherrybnb/auth/domain/MemberRepository.java
  backend/src/main/java/com/team14/cherrybnb/common/config/WebConfig.java
  backend/src/main/java/com/team14/cherrybnb/common/exception/BusinessException.java
  backend/src/main/java/com/team14/cherrybnb/common/exception/ErrorCode.java
  backend/src/main/java/com/team14/cherrybnb/common/exception/ErrorResponse.java
  backend/src/main/java/com/team14/cherrybnb/common/exception/HandlerAdvice.java
  backend/src/main/java/com/team14/cherrybnb/openapi/DistanceSearchController.java
  backend/src/main/java/com/team14/cherrybnb/openapi/DummyDataService.java
  backend/src/main/java/com/team14/cherrybnb/openapi/dummy/DistanceInfo.java
  backend/src/main/java/com/team14/cherrybnb/openapi/dummy/DistanceInfoResponse.java
  backend/src/main/java/com/team14/cherrybnb/openapi/dummy/Dummies.java
  backend/src/main/java/com/team14/cherrybnb/openapi/dummy/DummyData.java
  backend/src/main/java/com/team14/cherrybnb/openapi/dummy/DummyDataService.java
  backend/src/main/java/com/team14/cherrybnb/openapi/dummy/DummyInfo.java
  backend/src/main/java/com/team14/cherrybnb/openapi/dummy/Position.java
  backend/src/main/java/com/team14/cherrybnb/openapi/kakao/DistanceSearchService.java
  backend/src/main/java/com/team14/cherrybnb/openapi/kakao/NaviInfo.java
  backend/src/main/java/com/team14/cherrybnb/openapi/kakao/NaviRequest.java
  backend/src/main/java/com/team14/cherrybnb/openapi/kakao/NaviResponse.java
  backend/src/main/java/com/team14/cherrybnb/openapi/kakao/Summary.java
  backend/src/main/java/com/team14/cherrybnb/revervation/application/ReservationService.java
  backend/src/main/java/com/team14/cherrybnb/revervation/domain/Reservation.java
  backend/src/main/java/com/team14/cherrybnb/revervation/dto/ReservationRequest.java
  backend/src/main/java/com/team14/cherrybnb/room/application/RoomService.java
  backend/src/main/java/com/team14/cherrybnb/room/application/WishService.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/Review.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/Room.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/RoomInfo.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/RoomPriceCondition.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/RoomRepository.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/RoomRepositoryCustom.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/RoomRepositoryImpl.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/Wish.java
  backend/src/main/java/com/team14/cherrybnb/room/dto/SearchCondition.java
  backend/src/main/java/com/team14/cherrybnb/room/ui/RoomController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/team14/cherrybnb/common/domain/AddressRepositoryTest.java
  backend/src/test/java/com/team14/cherrybnb/room/domain/RoomRepositoryTest.java
Labels: BE ☕
