Repository naneun/CherryBnB, pull requests merged in 2022-05, with the labels that each got.

#5 [BE] 엔티티 설계 및 테이블 2차 설계 페어 프로그래밍
  backend/build.gradle
  backend/src/main/java/com/team14/cherrybnb/auth/domain/Member.java
  backend/src/main/java/com/team14/cherrybnb/common/config/SpringDataJpaConfig.java
  backend/src/main/java/com/team14/cherrybnb/common/config/SwaggerConfig.java
  backend/src/main/java/com/team14/cherrybnb/common/domain/Address.java
  backend/src/main/java/com/team14/cherrybnb/revervation/domain/Reservation.java
  backend/src/main/java/com/team14/cherrybnb/revervation/domain/ReservationRoom.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/Review.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/Room.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/RoomImage.java
  backend/src/main/java/com/team14/cherrybnb/room/domain/Wish.java
  backend/src/main/resources/application.yml
Labels: BE ☕

#8 [iOS] ViewController가 여행지 추천을 요청하면 Dummy 데이터를 받을 수 있음
  iOS/Targets/Cherrybnb/Search/View/SearchView.swift
  iOS/Targets/Cherrybnb/Search/ViewController/SearchViewController.swift
  iOS/Targets/Cherrybnb/Sources/Common/Coordinate.swift
  iOS/Targets/Cherrybnb/Sources/Common/Hour.swift
  iOS/Targets/Cherrybnb/Sources/Common/Location.swift
  iOS/Targets/Cherrybnb/Sources/Common/Minute.swift
  iOS/Targets/Cherrybnb/Sources/Common/Place.swift
  iOS/Targets/Cherrybnb/Sources/Common/Second.swift
  iOS/Targets/Cherrybnb/Sources/Search/Model/DefaultRecommendator.swift
  iOS/Targets/Cherrybnb/Sources/Search/Model/HTTPService.swift
  iOS/Targets/Cherrybnb/Sources/Search/ViewController/SearchRootViewController.swift
  iOS/Targets/Cherrybnb/Sources/Support/AppDelegate.swift
  iOS/Targets/Cherrybnb/Tests/SearchSpec.swift
Labels: enhancement, iOS 

#10 [iOS] 검색바를 터치하면 검색용 화면으로 이동할 수 있음 #6
  iOS/Targets/Cherrybnb/Resources/Main.storyboard
  iOS/Targets/Cherrybnb/Resources/Place_thumb_1.png
  iOS/Targets/Cherrybnb/Sources/Search/View/PlaceCell.swift
  iOS/Targets/Cherrybnb/Sources/Search/ViewController/ListCollectionViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search/ViewController/SearchRootViewController.swift
Labels: enhancement, iOS 

#16 [iOS] info.plist 프로젝트 설정 파일 추가(위치정보)
  iOS/.swiftlint.yml
  iOS/Podfile
  iOS/Podfile.lock
  iOS/Project.swift
  iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
Labels: enhancement, iOS 

#21 [iOS] 검색바에 텍스트를 입력하면 자동완성된 지역들을 볼 수 있음
  iOS/Targets/Cherrybnb/Resources/Main.storyboard
  iOS/Targets/Cherrybnb/Sources/Search/View/LocationCell.swift
  iOS/Targets/Cherrybnb/Sources/Search/View/PlaceCell.swift
  iOS/Targets/Cherrybnb/Sources/Search/ViewController/ListCollectionViewController.swift
  iOS/Targets/Cherrybnb/Sources/Search/ViewController/SearchRootViewController.swift
Labels: enhancement, iOS 

#22 [iOS] 특정 시점을 입력하면 DayCreator가 해당 달의 달력 날짜 정보를 반환함
  iOS/Targets/Cherrybnb/Sources/Search/Model/Day.swift
  iOS/Targets/Cherrybnb/Sources/Search/Model/DayCreator.swift
  iOS/Targets/Cherrybnb/Sources/Search/Model/MonthMetaData.swift
  iOS/Targets/Cherrybnb/Sources/Search/ViewController/SearchRootViewController.swift
Labels: enhancement, iOS 

#29 [iOS] 추천 여행지 리스트 테스트 케이스 작성
  iOS/Targets/Cherrybnb/Tests/SearchSpec.swift
Labels: iOS 
